	<!--S 服务中心-->
<div class="service">
	<span class="service_thumb" id="service_thumb"></span>
	<div class="service_detail" id="service_detail">
		<div class="hd">
			<h2></h2>
			<a id="serv_close" class="close" href="javascript:;">关闭</a>
		</div>
		<div class="bd">
			<p>Email：</p>
			<p><a href="mailto:gs@anl.com">gs@anl.com</a></p>
			<p class="mt">电话：</p>
			<p>086-400-088-8800</p>
			<p class="time"><i style="font-size:12px">am 9:00 pm 18:00</i></p>
            <p><i>中国时间（周一至周五）</i></p>
			<p class="mt">001-800-936-2021</p>
			<p class="time"><i style="font-size:12px">am 10:00 am 6:30+1</i></p>
            <p><i>美国东部时间（周一至周五）</i></p>
             <p><br/>
                  <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key="></script><br/><br/>
            </p>
		</div>
	</div>
	<s></s>
</div>
	<!--E 服务中心-->