{template "content","header"}   
 
    <div class="nav_bottom" style="height: auto">
        <div class="main">
            <div class="n_banner">
                <img id="bannerp" width="1050" height="184" src="{IMG_PATH}banner_1.jpg" />
            </div>

<!-------------------------左侧栏--------------------------->

       {template "content","left"}      

  <!--------------------------右侧代码------------------------------->
            <div class="n_r">
                <div class="n_title">
                    <span id="n_t_ico">公司介绍</span> <span class="n_weizhi">您现在的位置:首页 >> 公司简介 >> {$catname}
                    </span>
                </div>
                
                <div class="n_content" id="content" style="background: #fff; padding-bottom: 20px;">
                    <div style="width: 730px; margin: 0px auto; line-height: 30px; padding: 20px; border: 0px solid #dedede;
                        margin-bottom: 5px">
                        <div>
					<table class="gridview" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridViewNews" style="width:100%;border-collapse:collapse;">
					
		<tr style="height:18px; border-bottom:#ccc dashed 1px; font-size: 12px; ">
		 	<td style="border-width:0px;">
              
                                	<h3>{$title}</h3>
                                    <span>{$inputtime}</span>
          </td>
			</tr>
			<tr><td>{$content}</td></tr>
                  </table>
				  {if $pages}
				  <div style="text-align:center; font-size:14px;">
				  {$pages}
				  </div>
				  {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="clear10">
    </div>
  <!--------------------------/右侧代码------------------------------->
            
            {template "content","footer"} 
           
    <!--
	<div class="go">
    </div>
    <div style="display: none; height: 0px; width: 0px; overflow: hidden" id="cnzztongji">
    </div>
	-->
    <div style="display: none; height: 0px; width: 0px; overflow: hidden" id="Div1">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3af5ea94f799b364959cddb4ef1a6229' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="{JS_PATH}jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript" src="{JS_PATH}jquery.bigautocomplete.js"
        charset="UTF-8"></script>
    <script type="text/javascript" src="{JS_PATH}jquery.Tpbox.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}base.js" charset="UTF-8"></script>


</body>
</html>