/* 清除内外边距 */
html{ font-size:62.5%; -webkit-text-size-adjust: none}
body,td,h1,h2,h3,h4,h5,h6,p{ margin:0}
blockquote,ul,ol,li,dl,dt,dd,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0}
section,article,aside,header,footer,nav,dialog,figcaption,figure{ display: block}
/* 设置默认字体 */
body,button,input,select,textarea{ font:12px/1.5  microsoft yahei, Tahoma, Arial, sans-serif;  color:#333; background-color:#FFF}
/* 重置文本格式元素 */
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:400}
address,cite,dfn,em,var{ font-style:normal}
code,kbd,pre,samp{ font-family:courier new, courier, monospace}
small{ font-size:12px}
ol,ul{ list-style:none}
a{ color:#333; text-decoration:none}
a:hover,a:active,a:focus{ color:#F54302; text-decoration:underline; transition: color 0.15s linear 0s, background-color 0.3s linear 0s;}
sup{ vertical-align:text-top}
sub{ vertical-align:text-bottom}
legend{ color:#000}
fieldset,img{ border:0}
caption{ display:none;}
img{ vertical-align:top; border:none}
button,input,select,textarea{ font-size:100%}
table{ border-collapse:collapse; border-spacing:0}
.blind { font-size: 0; height: 0; left: 0; line-height: 0; overflow: hidden; position: absolute; top: 0;  width: 0;}
.blank,.blank5,.blank10,.blank16,.blank22 {clear:both;overflow:hidden;display:block;}
.blank5{ height:5px;}
.blank10{ height:10px;}
.blank16{ height:16px;}
.blank22{ height:22px;}
input,button,select,textarea{outline:none}
textarea{resize:none}
.wordwrap { word-break: break-all; word-wrap: break-word;}
.radius-three{-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius-three-tr{-moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.radius-five{-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

.box-shadow-v01{-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1)}

.fl{ float:left;}
.fr{ float:right;}
.hidden{ display:none;}
/*font align*/
.tc{ text-align:center;}
/*width*/
.w58{ width:58px;}
.w68{ width:68px;}
.w88{ width:88px;}
.w108{ width:108px;}
.w128{ width:128px;}
.w148{ width:148px;}
.w168{ width:168px;}
.w188{ width:188px;}
.w208{ width:208px;}
.w228{ width:228px;}
.w248{ width:248px;}
.w268{ width:268px;}
.w288{ width:288px;}
.w308{ width:308px;}
.w328{ width:328px;}
.w368{ width:368px;}
.w468{ width:468px;}
.w588{ width:588px;}
/*color*/
.color-red{ color:#F54302 !important;}
.color-gray{ color:#999;}
.color-blue{ color:#0175C5;}
/*padding*/
.pl-w45{ padding-left:45px;}
/*clear float*/
.clearfix:before, .clearfix:after{ content:""; display:table}
.clearfix:after{ clear:both}
.clearfix{ zoom:1}

::selection{ background:#0080C6; color:#FFF}
::-moz-selection{background:#0080C6; color:#FFF}
code::-moz-selection {background:#0080C6;color:#FFF;}
code::selection {background:#0080C6;color:#FFF;} 
/*栅格布局(column:16; gutter:16)
1008
192    824                     .grid-s12m0
192    824                     .grid-s12m1
240    752                     .grid-s15m0
688    304                     .grid-m0s19
304    688                     .grid-s19m0
304    432    240           .grid-s19m0e15
*/
.layout{ margin:0 auto; width:1078px;}

.grid-m0s19 .main-wrap { margin-right:320px;}
.grid-m0s19 .col-sub { width: 304px; margin-left: -304px;}

.grid-m0s15 .main-wrap { margin-right:256px;}
.grid-m0s15 .col-sub { width: 240px; margin-left: -240px;}

.grid-s15m0 .main-wrap { margin-left:256px;}
.grid-s15m0 .col-sub { width:256px; margin-left:-100%;}

.grid-s12m0 .main-wrap { margin-left:191px;}
.grid-s12m0 .col-sub { width:192px; margin-left:-100%;}

.grid-s12m1 .main-wrap { margin-left:208px;}
.grid-s12m1 .col-sub { width:192px; margin-left:-100%;}

.grid-s19m0 .main-wrap { }
.grid-s19m0 .col-sub { width:284px; margin-left:-100%;}

.grid-s19m0e15 .main-wrap {margin: 0 375px 0 320px;}
.grid-s19m0e15 .col-sub {width: 284px; margin-left: -100%;}
.grid-s19m0e15 .col-extra {width: 360px; margin-left: -360px;}

.col-main { float: left; width: 100%; min-height: 1px; }
.col-sub,.col-extra { float: left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after { content:'\20';display:block;height:0;clear:both; }
.layout,.main-wrap,.col-sub,.col-extra { *zoom:1;}
/*image*/
.header{ /*background-image:url(../images/home_hbg.jpg);*/ background:#f6f6f6;}
.footer{background:#9eb40a;}
.nav-mList .p-current a,.mod-shadow,.mod-hd,.nav-mList li a:hover,.nav-mList li.current a,.nav-mList li,.nav-mod{ }
/*header*/
.header{ width:100%; min-width:1008px; height:100px; background-repeat:repeat-x;}
	.header-mod{ height:100px; position:relative; z-index:100;}
    .top-nav{ padding-top:1px; height:20px; line-height:20px; position:absolute; top:8px; right:8px; _left:500px; overflow:hidden;}
    	.top-nList li{ float:left;}
        .top-nList a{ color:#000}
        .top-nList a:hover{ color:#F54302}
        .top-nList .orange-link{ color:#0B72A4; font-weight:700;}
        li.h-nLine{ padding:0 8px; color:#A8A8A8;}
        .top-nav .h-nMessage,.top-nav .h-yMessage{ display:block; _display:inline; padding:0 6px; height:18px; line-height:18px; background-color:#888; color:#FFF;}
        .top-nav .h-yMessage{ background-color:#F54302;}
         .top-nav .h-nMessage:hover,.top-nav .h-yMessage:hover{ margin-top:-1px; text-decoration:none; color:#FFF;}
        .top-nav .h-nMessage em,.top-nav .h-yMessage em{ padding-left:5px;}
	.logo{ padding:20px 0 0 0px;}
	.logo a{ width:228px; height:68px; display:block; text-indent:-999em; background:url(../images/logo.png) no-repeat;}
	.h-btn{ background-image:url(../images/h_btn_sprite.png);}
    .custom-mod{ width:160px; height:60px; position:absolute; top:48px; right:8px; z-index:50;} 
    .custom-box{ width:160px; position:relative; z-index:51;}
    .h-current .custom-cont{ display:block;}
	/*btn*/
	.btn-zone{ display:block; padding-left:20px; width:92px; height:34px; line-height:32px; overflow:hidden; position:absolute; top:48px; right:180px; z-index:20; font-size:14px; font-weight:700; color:#636363; text-shadow: 0 1px 1px rgba(255,255,255,0.5);}
	.btn-zone:hover,.btn-zone:active{ color:#F54302; text-decoration:none; background-position:0 -38px;}
	.btn-custom{ display:block; padding-left:44px; width:116px; height:34px; line-height:32px; overflow:hidden; font-size:14px; font-weight:700; color:#636363; text-shadow: 0 1px 1px rgba(255,255,255,0.5); background-position:0 -78px;}
	.h-current .btn-custom,.h-current .btn-custom:hover,.btn-custom:hover,.btn-custom:active{ color:#F54302; text-decoration:none; background-position:0 -119px;}   
    .btn-login{ display:block; padding:5px 26px; background-color:#2990CD; color:#FFF; font-weight:700; font-size:14px; text-shadow: 0 1px 1px rgba(0,0,0,0.5); border:1px solid #2279AC; -moz-box-shadow:1px 1px 1px rgba(0,0,0,.3);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.3); box-shadow:0 1px 1px rgba(0,0,0,.2); cursor:pointer;}
        .btn-login:hover{ background-color:#31A8ED; border-color:#2B91CD;}  
    .search-smod .btn-login{ padding:3px 16px; border:1px solid #BBB; background-color:#D4D4D4; color:#333; text-shadow: 0 1px 1px rgba(0,0,0,0.3);}    
    	.search-smod .btn-login:hover{ border-color:#B6BEC7; background-color:#E5E4E9; color:#333;}  
    .btn-cancel{ margin-left:24px; _display:inline; border:1px solid #BBB; background-color:#D4D4D4; color:#333; text-shadow: 0 1px 1px rgba(0,0,0,0.3);}
            .btn-cancel:hover{ border-color:#B6BEC7; background-color:#E5E4E9; color:#333;}   
    .link{ float:left; margin-right:12px; padding:0 12px; height:24px; line-height:24px; color:#FFF; background-color:#08C; border:1px solid #08C; font-size:14px; _display:inline;}
    	.link:hover{ color:#08C; background-color:#FFF; text-decoration:none;}            
    /*arrow*/
    .diamond{
    	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
    	filter: progid:DXImageTransform.Microsoft.Matrix(
    		M11=0.7071067811865475,
    		M12=-0.7071067811865477,
    		M21=0.7071067811865477,
    		M22=0.7071067811865475,
    		SizingMethod='auto expand'
    	);
    	-moz-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
    	transform:rotate(45deg);
    	}
        :root .diamond{filter:none\9;}/*ie9 hack*/
    	.custom-cont{position:absolute; top:40px; right:1px; z-index:51;background: #E4ECF2;border:1px solid #BBCAD6;padding:0 10px 10px; width:434px;}
    	.arrow-top{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-left:1px solid #BBCAD6;border-top:1px solid #BBCAD6;top:-5px; right:48px; _display:none;}
        .arrow-bottom{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-right:1px solid #BBCAD6;border-bottom:1px solid #BBCAD6;bottom:-5px;bottom:-6px\9;_bottom:-7px;left:10px;}
        .arrow-left{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-left:1px solid #BBCAD6;border-bottom:1px solid #BBCAD6;left:-5px;left:-6px\9;_left:-7px;top:10px;}
        .arrow-right{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-right:1px solid #BBCAD6;border-top:1px solid #BBCAD6;right:-5px;right:-6px\9;_right:-7px;top:10px;}    
     .custom-list{ margin-left:-16px;} 
     	.custom-list li{ float:left; padding:10px 0 0 16px;}
      /*nav*/
      .nav{ margin:0px auto 0; width:100%; height:39px;  position:relative; z-index:30; }    
      	.nav-mod{ margin:0 auto; width:1078px; _width:1006px; height:39px; background-color:#9eb40a; background-repeat:repeat-x; position:relative; _border:1px solid #046298;}
        
        .nav-mList{ margin-left:-2px;}
        .nav-mList li{ float:left; height:39px; line-height:39px; background-position:right -104px; position:relative;}  
        .nav-mList li a{ display:block; padding:0 33px; _padding:0; _width:118px; _text-align:center; height:39px; font-size:15px; color:#FFF; position:relative; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; font-family:微软雅黑,黑体,宋体;}
        .nav-mList li.current a,.nav-mList li.current a:hover,.nav-mList li a:hover{ color:#0080C7; background-position: 0 -51px; background-repeat:repeat-x; text-decoration:none; text-shadow: 0 1px 1px rgba(255,255,255,0.1); background:#efefef; border-left:1px solid #9eb40a; height:38px;}
	.crumbs{ padding-bottom:8px; color:#555;}
    	.crumbs a{ color:#36C}
        .crumbs a:hover{ color:#F54302;}
        .curmbs-active{ font-weight:700; color:#333;}
/*content
.content{ position:relative; z-index:10;} */
	/*mod*/
    .mod{ border:1px solid #CACACA; background-color:#FFF;}   
    	.mod-hd{ line-height:35px; margin:0 10px 6px 10px; border-bottom:1px solid rgb(185, 165, 10); /*background-color:#EEE;*/ background-position:0 -156px; background-repeat:repeat-x; /*border-bottom:1px solid #CACACA; */position:relative;}
        	.mod-hd h3{ padding-left:12px; font-size:16px; color:rgb(107, 9, 121); /*font-weight:700; text-shadow: 0 1px 0 rgba(0,0,0,0.3);*/}
            .mod-hd .more-link{ display:block; height:22px; line-height:22px; color:#0179D3; position:absolute; top:6px; right:12px;}
         .mod-shadow{ padding:0px 10px 8px; background-position:0 -290px; background-repeat:no-repeat;}
    /*input*/
    .inp{ padding:4px; height:22px; line-height:22px; font-size:14px; border:1px solid #A9A9A9; color:#666; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
    	.inp:focus{ border:1px solid #0080C7}
     .inp-disabled{ background-color:#D8D8D8;}
     .inp-select{ padding:1px; height:26px; vertical-align:middle;}
/* page */
.function-page{ padding:0 10px 18px 10px;}
.page{ margin:15px 0;}
	.page a,.page-cur,.page-more,.page-total,.page-jump{ float:left; padding:1px 8px; font-size:13px;}
	.page-total,.page-jump{ font-size:12px; line-height:24px;}
	.page a{ margin:0 5px 0 0; color:#333; border:1px solid #B5B4B8;-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#F9F9F9;}
	.page a:hover{ color:#00739F; border-color:#00739F; background-color:#FFF;}
	.page-cur{color:#00739F;}
	.page-total em{ color:#00739F; font-size:12px;}
	.page-inp{width:40px; height:20px; line-height:20px; margin:0 4px; border:1px solid #B5B4B8;-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-align:center;}
	.page-submit{ width:46px; height:24px; border:none; line-height:22px; line-height:24px\9; _line-height:22px; overflow:hidden; border:1px solid #CCC; background-color:#EEE; cursor:pointer}	         
/*footer*/
.footer{ width:100%; min-width:1008px; background-position:0 -130px; background-repeat:repeat-x;}
	.footer-mod{padding:18px 0  15px 0; line-height:28px; color:#555;}
    	.footer-link a{ color:#555;}
        .footer-link a:hover{ color:#F54302}
    	.footer-link em{ padding:0 8px;}
/*汇率*/
.toplist1 {
	text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 12px; border-right-color: rgb(93, 93, 93); border-right-width: 1px; border-right-style: solid; float: right;
}
.toplist2 {
	text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 12px; border-right-color: rgb(93, 93, 93); border-right-width: 1px; border-right-style: solid; float: right;
}
.toplist1 {
	width: 140px;
}
.toplist2 {
	width: 100px;
}
.toplist1 {
	list-style: none; width: auto;
}
.toplist1 .dropdown li {
	padding: 4px 20px; font-size: 11px;
}
.toplist1 .dropdown-menu {
	left: 210px; background-color: rgb(241, 241, 241);
}
.toplist1 .dropdown .dropdown-toggle .rate {
	margin-right: 10px; display: inline-block; position: relative; min-width: 170px;
}
.toplist1 .dropdown .dropdown-toggle .shelter {
	left: 228px; top: 22px; float: left; display: inline-block; position: relative; z-index: 100; min-height: 22px; min-width: 170px; background-color: rgb(255, 255, 255);
}
.toplist1 .dropdown .dropdown-toggle {
	margin-right: 4px;
}
.toplist1 .dropdown-menu {
	border-radius: 0px;
}
.toplist1 .dropdown a.dropdown-toggle {
	color: #000;
}
.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0px;
}
.dropdown-menu {
	list-style: none; margin: 2px 0px 0px; padding: 5px 0px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.15); border-image: none; left: 0px; top: 100%; text-align: left; font-size: 14px; float: left; display: none; position: absolute; z-index: 1000; min-width: 160px; box-shadow: 0px 6px 12px rgba(0,0,0,0.175); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-background-clip: padding-box;
}
.container{
	width:1008px;
}