
html{ font-size:62.5%; -webkit-text-size-adjust: none}
body,td,h1,h2,h3,h4,h5,h6,p{ margin:0}
blockquote,ul,ol,li,dl,dt,dd,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0}
section,article,aside,header,footer,nav,dialog,figcaption,figure{ display: block}
/* 设置默认字体 */
body,button,input,select,textarea{ font:12px/1.5 Tahoma, Arial, sans-serif, microsoft yahei;  color:#333; background-color:#FFF}

h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:400}
address,cite,dfn,em,var{ font-style:normal}
code,kbd,pre,samp{ font-family:courier new, courier, monospace}
small{ font-size:12px}
ol,ul{ list-style:none}
a{ color:#333; text-decoration:none}
a:hover,a:active,a:focus{ color:#F54302; text-decoration:underline; transition: color 0.15s linear 0s, background-color 0.3s linear 0s;}
sup{ vertical-align:text-top}
sub{ vertical-align:text-bottom}
legend{ color:#000}
fieldset,img{ border:0}
caption{ display:none;}
img{ vertical-align:top; border:none}
button,input,select,textarea{ font-size:100%}
table{ border-collapse:collapse; border-spacing:0}
.blind { font-size: 0; height: 0; left: 0; line-height: 0; overflow: hidden; position: absolute; top: 0;  width: 0;}
.blank,.blank5,.blank10,.blank16,.blank22 {clear:both;overflow:hidden;display:block;}
.blank5{ height:5px;}
.blank10{ height:10px;}
.blank16{ height:16px;}
.blank22{ height:22px;}
input,button,select,textarea{outline:none}
textarea{resize:none}
.wordwrap { word-break: break-all; word-wrap: break-word;}
.radius-three{-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius-three-tr{-moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.radius-five{-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

.box-shadow-v01{-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1)}

.fl{ float:left;}
.fr{ float:right;}
.hidden{ display:none;}
/*font align*/
.tc{ text-align:center;}
/*width*/
.w58{ width:58px;}

/*color*/
.color-red{ color:#F54302 !important;}
.color-gray{ color:#999;}
.color-blue{ color:#0175C5;}
/*padding*/
.pl-w45{ padding-left:45px;}
/*clear float*/
.clearfix:before, .clearfix:after{ content:""; display:table}
.clearfix:after{ clear:both}
.clearfix{ zoom:1}

::selection{ background:#0080C6; color:#FFF}
::-moz-selection{background:#0080C6; color:#FFF}
code::-moz-selection {background:#0080C6;color:#FFF;}
code::selection {background:#0080C6;color:#FFF;} 

.layout{ margin:0 auto; width:1108px;}

.grid-m0s19 .main-wrap { margin-right:320px;}
.grid-m0s19 .col-sub { width: 304px; margin-left: -304px;}

.grid-m0s15 .main-wrap { margin-right:256px;}
.grid-m0s15 .col-sub { width: 240px; margin-left: -240px;}

.grid-s15m0 .main-wrap { margin-left:256px;}
.grid-s15m0 .col-sub { width:256px; margin-left:-100%;}

.grid-s12m0 .main-wrap { margin-left:191px;}
.grid-s12m0 .col-sub { width:192px; margin-left:-100%;}

.grid-s12m1 .main-wrap { margin-left:208px;}
.grid-s12m1 .col-sub { width:192px; margin-left:-100%;}

.grid-s19m0 .main-wrap { }
.grid-s19m0 .col-sub { width:304px; margin-left:-100%;}

.grid-s19m0e15 .main-wrap {margin: 0 256px 0 320px;}
.grid-s19m0e15 .col-sub {width: 304px; margin-left: -100%;}
.grid-s19m0e15 .col-extra {width: 240px; margin-left: -240px;}

.col-main { float: left; width: 100%; min-height: 1px; }
.col-sub,.col-extra { float: left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after { content:'\20';display:block;height:0;clear:both; }
.layout,.main-wrap,.col-sub,.col-extra { *zoom:1;}
/*image*/
.footer,.header{ }
.nav-mList .p-current a,.mod-shadow,.mod-hd,.nav-mList li a:hover,.nav-mList li.current a,.nav-mList li,.nav-mod{ }
/*header*/
.header{ width:100%; min-width:1008px; height:134px; background-repeat:repeat-x;}
	.header-mod{ height:100px; position:relative; z-index:100;}
    .top-nav{ padding-top:1px; height:20px; line-height:20px; position:absolute; top:8px; right:8px; _left:500px; overflow:hidden;}
    	.top-nList li{ float:left;}
        .top-nList a{ color:#000}
        .top-nList a:hover{ color:#F54302}
        .top-nList .orange-link{ color:#0B72A4; font-weight:700;}
        li.h-nLine{ padding:0 8px; color:#A8A8A8;}
        .top-nav .h-nMessage,.top-nav .h-yMessage{ display:block; _display:inline; padding:0 6px; height:18px; line-height:18px; background-color:#888; color:#FFF;}
        .top-nav .h-yMessage{ background-color:#F54302;}
         .top-nav .h-nMessage:hover,.top-nav .h-yMessage:hover{ margin-top:-1px; text-decoration:none; color:#FFF;}
        .top-nav .h-nMessage em,.top-nav .h-yMessage em{ padding-left:5px;}
	.logo{ padding:10px 0 0 16px;}
	.logo a{ width:212px; height:78px; display:block; text-indent:-999em; background:url(../images/logo.png) no-repeat;}
	.h-btn{ background-image:url(../images/h_btn_sprite.png);}
    .custom-mod{ width:160px; height:60px; position:absolute; top:48px; right:8px; z-index:50;} 
    .custom-box{ width:160px; position:relative; z-index:51;}
    .h-current .custom-cont{ display:block;}
	/*btn*/
	.btn-zone{ display:block; padding-left:20px; width:92px; height:34px; line-height:32px; overflow:hidden; position:absolute; top:48px; right:180px; z-index:20; font-size:14px; font-weight:700; color:#636363; text-shadow: 0 1px 1px rgba(255,255,255,0.5);}
	.btn-zone:hover,.btn-zone:active{ color:#F54302; text-decoration:none; background-position:0 -38px;}
	.btn-custom{ display:block; padding-left:44px; width:116px; height:34px; line-height:32px; overflow:hidden; font-size:14px; font-weight:700; color:#636363; text-shadow: 0 1px 1px rgba(255,255,255,0.5); background-position:0 -78px;}
	.h-current .btn-custom,.h-current .btn-custom:hover,.btn-custom:hover,.btn-custom:active{ color:#F54302; text-decoration:none; background-position:0 -119px;}   
    .btn-login{ display:block; padding:5px 26px; background-color:#2990CD; color:#FFF; font-weight:700; font-size:14px; text-shadow: 0 1px 1px rgba(0,0,0,0.5); border:1px solid #2279AC; -moz-box-shadow:1px 1px 1px rgba(0,0,0,.3);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.3); box-shadow:0 1px 1px rgba(0,0,0,.2); cursor:pointer;}
        .btn-login:hover{ background-color:#31A8ED; border-color:#2B91CD;}  
    .search-smod .btn-login{ padding:3px 16px; border:1px solid #BBB; background-color:#D4D4D4; color:#333; text-shadow: 0 1px 1px rgba(0,0,0,0.3);}    
    	.search-smod .btn-login:hover{ border-color:#B6BEC7; background-color:#E5E4E9; color:#333;}  
    .btn-cancel{ margin-left:24px; _display:inline; border:1px solid #BBB; background-color:#F25F6D; color:#fff; text-shadow: 0 1px 1px rgba(0,0,0,0.3);}
            .btn-cancel:hover{ border-color:#B6BEC7; background-color:#F25F6D; color:#333;}   
    .link{ float:left; margin-right:12px; padding:0 12px; height:24px; line-height:24px; color:#FFF; background-color:#08C; border:1px solid #08C; font-size:14px; _display:inline;}
    	.link:hover{ color:#08C; background-color:#FFF; text-decoration:none;}            
    /*arrow*/
    .diamond{
    	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
    	filter: progid:DXImageTransform.Microsoft.Matrix(
    		M11=0.7071067811865475,
    		M12=-0.7071067811865477,
    		M21=0.7071067811865477,
    		M22=0.7071067811865475,
    		SizingMethod='auto expand'
    	);
    	-moz-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
    	transform:rotate(45deg);
    	}
        :root .diamond{filter:none\9;}/*ie9 hack*/
    	.custom-cont{position:absolute; top:40px; right:1px; z-index:51;background: #E4ECF2;border:1px solid #BBCAD6;padding:0 10px 10px; width:434px;}
    	.arrow-top{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-left:1px solid #BBCAD6;border-top:1px solid #BBCAD6;top:-5px; right:48px; _display:none;}
        .arrow-bottom{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-right:1px solid #BBCAD6;border-bottom:1px solid #BBCAD6;bottom:-5px;bottom:-6px\9;_bottom:-7px;left:10px;}
        .arrow-left{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-left:1px solid #BBCAD6;border-bottom:1px solid #BBCAD6;left:-5px;left:-6px\9;_left:-7px;top:10px;}
        .arrow-right{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#E4ECF2;border-right:1px solid #BBCAD6;border-top:1px solid #BBCAD6;right:-5px;right:-6px\9;_right:-7px;top:10px;}    
     .custom-list{ margin-left:-16px;} 
     	.custom-list li{ float:left; padding:10px 0 0 16px;}
     
    .mod{ border:1px solid #CACACA; background-color:#FFF;}   
    	.mod-hd{ height:33px; line-height:33px; background-color:#EEE; background-position:0 -156px; background-repeat:repeat-x; border-bottom:1px solid #CACACA; position:relative;}
        	.mod-hd h3{ padding-left:12px; font-size:14px; font-weight:700; text-shadow: 0 1px 0 rgba(0,0,0,0.3);}
            .mod-hd .more-link{ display:block; height:22px; line-height:22px; color:#0179D3; position:absolute; top:6px; right:12px;}
         .mod-shadow{ padding:12px 10px; background-position:0 -290px; background-repeat:no-repeat;}
    /*input*/
    .inp{ padding:4px; height:22px; line-height:22px; font-size:14px; border:1px solid #A9A9A9; color:#666; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
    	.inp:focus{ border:1px solid #0080C7}
     .inp-disabled{ background-color:#D8D8D8;}
     .inp-select{ padding:1px; height:26px; vertical-align:middle;}
