/* 转载请保留版权信息：懒人图库 www.lanrentuku.com */

.t_news ul,li{ list-style:none; }
.box{ height:35px; background:#000; overflow:hidden;}
.t_news{font-size:12px; height:19px; background:url(../images/icon_top.png) 0 -88px no-repeat; color:#000; padding-left:10px; margin:1px 0; overflow:hidden; position:relative;}
.t_news b{ line-height:19px; font-weight:bold; display:inline-block;}
.news_li,.swap{ line-height:19px; display:inline-block; position:absolute; top:0; left:72px;}
.news_li a,.swap a{ color:#fff;}
.swap{top:19px;}
