{template "content","header"}  
<link rel="stylesheet" type="text/css" href="{CSS_PATH}w-index.css"/> 
    <link rel="stylesheet" type="text/css" href="{JS_PATH}calendar/jscal2.css"/>
			<link rel="stylesheet" type="text/css" href="{JS_PATH}calendar/border-radius.css"/>
			<link rel="stylesheet" type="text/css" href="{JS_PATH}calendar/win2k.css"/>
			<script type="text/javascript" src="{JS_PATH}calendar/calendar.js"></script>
			<script type="text/javascript" src="{JS_PATH}calendar/lang/en.js"></script>
			
 {php $sinfo=siteinfo(1);}
        <!--S 内容-->
 	        <div id="ht-main" class="clearfixed">	
        <article class="content">

        	<div class="content-mod">
            	<div class="layout sub-layout radius-five grid-s15m0">
			      <div class="col-main">
			       	 <div class="main-wrap" style="margin: 0;">
					  	<div class="mod c-mod">
	                    	<div class="mod-bd s-mod-bd">
								<!--<div class="s-search-mod">
				                  	<h2 class="home-h2"><label for="desc">请输入运单号</label></h2>
				                    <form action="api.php" name="mainForm" id="mainForm" method="get">
									<input type="hidden" name="op" value="orderno"/>
				                    <div class="textarea-mod">
				                    	<textarea class="inp-tarea" id="ord" name="ord" style="ime-mode:disabled;" onblur="if (value ==''){value='最多输入20个单号同时查询，以回车隔开。'}" onfocus="if (value =='最多输入20个单号同时查询，以回车隔开。'){value =''}">{$ord}</textarea>
				                    </div>
				                     <button type="button" onclick="submitF2();" class="h-btn btn-hSubmit" title="查询"></button>
				                    </form>  
									<script>
									
									function submitF2(){
  var f=document.getElementById("mainForm");
  if(($("#ord").val()=="") || $("#ord").val()=='最多输入20个单号同时查询，以回车隔开。'){
    alert("请输入快运单号！");
    return;
  }

   f.submit();
  
 
}
									
									</script>

                                </div>E .s-search-mod-->
                               
                                <div class="s-search-table">

									<?php
									$cdb = pc_base::load_model('enum_model');
									$handle_datas  = $cdb->select("groupid=52 ","*",1000,"listorder asc");	
									
									?>

                                  {loop $ord_array  $v}
								  <?php
								  $v=trim($v);
								  $datas = $wdb->select(" siteid='1' and waybillid='$v' ",'*',1000,'addtime ASC');
								  

								  $_rs = $_wdb->get_one(array('waybillid'=>$v));
								  ?>
                                	<div class="table-cont">
                                    	<div class="table-cont-hd">运单号 {$v}--以下为包裹转运跟踪信息</div>
                                        <table>
                                        	<thead>  
                                            	<tr>
                                            		
													<th width="29%">操作时间</th>
													<th width="48%">包裹跟踪信息</th>
                                            		
                                            		<th width="20%">操作人</th>
                                            	</tr>
                                              
                                            </thead>
                                            <tbody>
											{if $datas}

												{if $sinfo[wbinfocustom]==0}
                                            	{loop $datas  $row}
                                             	<tr>
                                            		
													<td >{date('Y-m-d H:i:s',$row[addtime])}</td>
													<td >{$row[remark]}</td>
                                            		<td >{$row[username]}</td>
                                            	</tr>
                                             	{/loop}
												{else}
												{loop $handle_datas  $hbill}
												{loop $datas  $row}
												{if $row[status]==$hbill[value]}
                                             	<tr>
                                            	
													<td >{date('Y-m-d H:i:s',$row[addtime])}</td>
													<td >{$hbill[remark]}{if $row[status]==9}{$_rs[huodanno]}{/if}{if $row[status]==14}<font color=blue >{$_rs[excompany]}</font>,单号:<a href="{str_replace('#',$_rs[expressnumber],$_rs[expressurl])}" target=_blank style="font-size:20px;color:blue">{$_rs[expressnumber]}</a>{/if}</td>
                                            		
                                            		<td >{$row[username]}</td>
                                            	</tr>
												{/if}
                                             	{/loop}

												{/loop}
												{/if}

                                               {else}
											   <tr>
                                             	 <td colspan="3" style="line-height: 50px;">查询暂无订单数据！</td>
                                             	</tr>
											   {/if}			
                                            </tbody>
                                        </table>

										

                                    </div><!--E .table-cont-->
									
									{/loop}
                                    
                                </div><!--E .s-search-table-->
                                 
	                        </div><!--E .mod-bd-->
	                    </div><!--E .mod-->
                     </div>
			      </div><!--E .col-main-->

                </div><!--E .grid-s19m0-->           
            </div>
            <!--E 内容模块-->     
        </article>
        <!--E 内容-->
		</div>
		</div>
 <div id="footer">

	<FOOTER class="global-footer">
			<DIV class="containerCentered">
				<UL class="footer-main">
				   <LI><A href="http://www.goship.cn/about">关于我们</A></LI>
				  <LI><A href="http://www.goship.cn/lianxi">联系我们</A></LI>
				 <LI><a href="http://www.goship.cn/jinyun">禁运物品</a></LI>
					<LI><A href="http://www.goship.cn/xieyi">服务协议</A></LI>
				  <LI><A href="http://www.goship.cn/yinsi">隐私声明</A></LI>
				</UL>
				<UL class="footer-tertiary">
					<LI class="footer-copyright">版权所有© 2014 东电行科技有限公司 海豚转运 保留所有权利。 </LI>
					</ul>
			</DIV>
	</FOOTER>
 </div>
		
 
  
 
        <!--E 底部-->        
<!--E .wrap-->  
   

{php $sinfo=siteinfo(1);}
{if $sinfo}
{php $allqq=explode(',',trim($sinfo[qqno]));}
<link rel="stylesheet" type="text/css" href="/resource/kefu/css/service.css"/>
<script type="text/javascript" src="/resource/kefu/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/resource/kefu/js/jquery.fixed.1.5.1.js"></script>
<script language="javascript">
//must window loading,don't use the document loading
$(window).load(function(){
	
	
	//悬浮客服
	$("#fixedBox").fix({
		position 		: "left",	//悬浮位置 - left或right
		horizontal  	: 0,		//水平方向的位置 - 默认为数字
		vertical    	: 10,      //垂直方向的位置 - 默认为null
		halfTop     	: true,	    //是否垂直居中位置
		minStatue 		: true,		//是否最小化，true则默认最小化
		hideCloseBtn 	: false,	//是否隐藏关闭按钮
		skin 			: "blue",	//皮肤
		showBtnWidth 	: 28,       //show_btn_width
		contentBoxWidth : 154, 		//side_content_width
		durationTime 	: 1000		//完成时间
	});
	
});
</script>
    <!-- S 客服 -->
<div class="fixed_box" id="fixedBox">
    <div class="content_box">
        <div class="content_inner">
        	<div class="close_btn"><a title="关闭"><span>关闭</span></a></div>
            <div class="content_title"><span>客服中心</span></div>
            <div class="content_list">            	
                <div class="qqserver">
                    {loop $allqq $q}
					{php $arrq=explode('|',$q);}
					<p>                              
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$arrq[0]}&amp;site=qq&amp;menu=yes">
                          <img border="0" src="http://wpa.qq.com/pa?p=2:{$arrq[0]}:41" alt="{$arrq[1]}" title="{$arrq[1]}">
                          <span>{$arrq[1]}</span>
                    	</a>
                    </p>
                    {/loop}          
                </div>               
                <hr>
                <div class="phoneserver">
				<p align=center style="font-size:16px;margin-bottom:5px;">服务热线</p>
                    <h5 style="color:#ff6600">{$sinfo[public_tel]}</h5>
                   <p>&nbsp;</p>
                </div>
               
            </div>
            <div class="content_bottom"></div>
        </div>
    </div>
    <div class="show_btn"><span>展开客服</span></div>
</div>
<!-- E 客服 -->
{/if}

</body>
</html>

