<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title><?php echo $this->__all__urls[0]['address'];?>--<?php echo $this->wap['sitename'];?></title>

<link href="/resource/wap/css/lists.css" rel="stylesheet" type="text/css" />

<script src="/resource/wap/js/jquery.min.js" type="text/javascript"></script>
<style>
</style>
</head>

<body class="mode_webapp">

{template "wap","header_min"}



<link href="/resource/wap/css/news3_.css" rel="stylesheet" type="text/css" />

<div id="ui-header">
<div class="fixed">
<a class="ui-title" id="popmenu">{if $flag}地址详情{else}地址修改{/if}</a>
<a class="ui-btn-left_pre" href="javascript:history.go(-1);"></a><a class="ui-btn-right_home" href="{WAP_SITEURL}"></a>
</div>
</div>

    
{if !$__is__userinfo__full[value]}


 <input type="hidden" name="forward" id="forward" value="{php echo urlencode($_GET['forward']);}" />
 


<div class="contact-info" style=" margin-top:10px;">
<ul><li>地址信息 &nbsp;<font color=red>大陆用户收件地址用中文填写</font></li></ul>
<ul>

<li>

{if $flag}

<table style="padding: 0; margin: 0; width: 100%;">
<tbody>

<tr  style="display:none;">
<td width="90px"><label for="addresstype" class="ui-input-text">地址类型：</label></td>
<td >
{if $an_info[addresstype]==1}
<label class="label-other">收件人</label>{elseif $an_info[addresstype]==2} <label class="label-other">发件人</label> 
{/if}
</td>
</tr>

<tr>
<td ><label for="truename" class="ui-input-text">姓名<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[truename]}
   </div>
</td>
</tr>
<tr>
<td ><label for="country" class="ui-input-text">国家<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[country]}</div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">地区<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[province]} {$an_info[city]}</div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">详细地址<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[address]}</div>
</td>
</tr>


<tr>
<td ><label for="email" class="ui-input-text">手机号码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[mobile]}</div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">邮箱地址<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[email]}</div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">身份证类别：</label></td>
<td >
{if $an_info[idcardtype]==1}
<label class="label-other">大陆地区</label> {elseif $an_info[idcardtype]==2}<label class="label-other">非大陆地区</label>{/if}
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">身份证号码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[idcard]}</div>
</td>
</tr>

<tr>
<td ><label for="email" class="ui-input-text">公司名称：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[company]}</div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">邮政编码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text" style="height:25px;line-height:25px;">{$an_info[postcode]}</div>
</td>
</tr>


</tbody></table>

{else}
<table style="padding: 0; margin: 0; width: 100%;">
<tbody>

<tr>
<td width="90px"><label for="email" class="ui-input-text">地址类型：</label></td>
<td >

<input type="radio" value="1" name="address[addresstype]"  id="addresstype1" {if $an_info[addresstype]==1}checked="checked"{/if}/><label class="label-other">收件人</label> <input type="radio" value="2" name="address[addresstype]"  id="addresstype2" {if $an_info[addresstype]==2}checked="checked"{/if}/><label class="label-other">发件人</label> 

</td>
</tr>

<tr>
<td ><label for="email" class="ui-input-text">姓名<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text">
 <input id="truename" name="address[truename]" value="{$an_info[truename]}"  placeholder="请输入姓名!" maxlength="20" class="ui-input-text" type="text" >    </div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">国家<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text"  id="country" name="address[country]"  value="{$an_info[country]}" placeholder="如 中国" class="ui-input-text" ></div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">地区<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="province" name="address[province]" value="{$an_info[province]}" placeholder="如 省/州" class="ui-input-text"><input type="text" id="city" name="address[city]" value="{$an_info[city]}" placeholder="如 市" class="ui-input-text"></div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">详细地址<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="address" name="address[address]"   value="{$an_info[address]}" placeholder="如 海滨区前海路555号" class="ui-input-text" ></div>
</td>
</tr>


<tr>
<td ><label for="email" class="ui-input-text">手机号码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="mobile" name="address[mobile]"  value="{$an_info[mobile]}"  placeholder="请输入手机号码!" class="ui-input-text"></div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">邮箱地址<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="email" name="address[email]"  value="{$an_info[email]}" placeholder="您填写的邮箱地址!"  class="ui-input-text"></div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">身份证类别：</label></td>
<td >
<input type="radio" value="1" name="address[idcardtype]"  id="idcardtype_1" {if $an_info[idcardtype]==1}checked="checked"{/if}/><label class="label-other">大陆地区</label> <input type="radio" value="2" name="address[idcardtype]"  id="idcardtype_2" {if $an_info[idcardtype]==2}checked="checked"{/if}/><label class="label-other">非大陆地区</label>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">身份证号码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="idcard" name="address[idcard]" value="{$an_info[idcard]}"  placeholder="您填写的身份证号码不对!" class="ui-input-text"></div>
</td>
</tr>

<tr>
<td ><label for="email" class="ui-input-text">公司名称：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="company" name="address[company]" value="{$an_info[company]}"  placeholder="" class="ui-input-text"></div>
</td>
</tr>
<tr>
<td ><label for="email" class="ui-input-text">邮政编码<font color=red>*</font>：</label></td>
<td >
<div class="ui-input-text"><input type="text" id="postcode" name="address[postcode]" onKeyUp="this.value=this.value.replace(/[^0-9]/gi,'')" value="{$an_info[postcode]}" placeholder="请输入邮政编码!" class="ui-input-text"  ></div>
</td>
</tr>


</tbody></table>
{/if}
</li>
</ul>
   
    </div>

    
    
    <div class="footReturn" style="margin-bottom:80px;">
	{if !$flag}
	 <input type="button" id="showcard"  class="submit_b"  value="保 存" style="width:100%"> 
	 {/if}
<div class="window" id="windowcenter">
<div id="title" class="wtitle">操作提示<span class="close" id="alertclose"></span></div>
<div class="content">
<div id="txt"></div>
</div>
</div>
</div>
    
<script type="text/javascript"> 


var oLay = document.getElementById("overlay");	
$(document).ready(function () { 


$("#showcard").click(function () { 
	

	var truename =  $('#truename').val();
	var country =  document.getElementById('country').value;
	var province =  document.getElementById('province').value;
	var city =  document.getElementById('city').value;
	var address =  document.getElementById('address').value;
	var company =  document.getElementById('company').value;
	var postcode =  document.getElementById('postcode').value;

	var mobile =  document.getElementById('mobile').value;
	var email =  document.getElementById('email').value;
	var idcard =  document.getElementById('idcard').value;
	var postcode =  document.getElementById('postcode').value;
	
	var forward =  document.getElementById('forward').value;

	var addresstype=1;
	if(document.getElementById('addresstype2').checked){addresstype=2;}
	
	var idcardtype=1;
	if(document.getElementById('idcardtype_2').checked){idcardtype=2;}


	var submitData = {
		addresstype: addresstype,
		truename: truename,
		country: country,
		province: province,
		city: city,
		address: address,
		company: company,
		postcode: postcode,
		mobile: mobile,
		email: email,
		idcardtype: idcardtype,
		idcard: idcard,
		forward: forward,
		dosubmit: "1"
	};

	$.post('/index.php?m=wap&c=address&a=edit&aid={$an_info[aid]}&t='+Math.random(), submitData, function(data) {
		if (data.status) {
		   alert(data.msg,data.url);
		} else{
			$('#parssword').addClass('err');
			alert(data.msg,'');
		}
	},
	"json");

 
oLay.style.display = "block";
}); 
}); 

$("#windowclosebutton").click(function () { 
$("#windowcenter").slideUp(500);
oLay.style.display = "none";

}); 
$("#alertclose").click(function () { 
$("#windowcenter").slideUp(500);
oLay.style.display = "none";

}); 

function alert(title,url){ 

$("#windowcenter").slideToggle("slow"); 
$("#txt").html(title);
if(url!=''){setTimeout('$("#windowcenter").slideUp(500,function(){window.location.href ="'+url+'";})',4000);}else{
	setTimeout('$("#windowcenter").slideUp(500)',4000);
}
} 

</script>
{/if}
{template "wap","footer"}
</body>
</html>
