<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $this->__all__urls[0]['news'];?>--<?php echo $this->wap['sitename'];?></title>

<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="/resource/wap/css/common.css" />
<link rel="stylesheet" type="text/css" href="/resource/wap/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/resource/wap/css/home-menu.css" />
<link href="/resource/wap/css/listhome1_.css" rel="stylesheet" type="text/css" />

<style>
 .themeStyle{ background-color:#E83407 !important; }  
</style>
</head>
<script>
window.onload = function ()
{
var oWin = document.getElementById("win");
var oLay = document.getElementById("overlay");	
var oBtn = document.getElementById("popmenu");
var oClose = document.getElementById("close");
oBtn.onclick = function ()
{
oLay.style.display = "block";
oWin.style.display = "block"	
};
oLay.onclick = function ()
{
oLay.style.display = "none";
oWin.style.display = "none"	
}
};
</script>
<body id="listhome1">
<div id="ui-header">
<div class="fixed">
<a class="ui-title" id="popmenu">选择分类</a>
<a class="ui-btn-left_pre" href="javascript:history.go(-1);"></a>
<a class="ui-btn-right_home" href="{WAP_SITEURL}"></a>

</div>
</div>

<div id="overlay"></div>
<div id="win">
<ul class="dropdown"> 
{pc:content action="category" catid="0" num="10" siteid="1" order="listorder ASC" return="catdata"}
{loop $catdata $i $r}
{if $r[catid]>6 && $r[catid]<11}
<li><a href="<?php echo $this->__all__urls[1]['news'];?>&catid={$r[catid]}"><span>{$r[catname]}</span></a></li>
{/if}
{/loop}
{/pc}
<div class="clr"></div>
</ul>
</div>

<div class="Listpage">
<div class="top46"></div>
    <div id="todayList">
<ul  class="todayList">
 {pc:content action="lists" catid="$catid" num="10" siteid="1" page="$page" order="inputtime deSC" return="datas" }
{loop $datas  $row}

<li>
<a href="/index.php?m=wap&c=index&a=show&catid={$row[catid]}&id={$row[id]}">
{if $row[thumb]}
<div class="img"><img src="{$row[thumb]}"></div>
{/if}
<h2>{$row[title]}</h2>
<p class="onlyheight">{$row[description]}</p>
<div class="commentNum"></div>
</a>
</li>
{/loop}
{/pc}
			
</ul>
</div>




<section id="Page_wrapper" >
	<div id="pNavDemo" class="c-pnav-con pages" >
		<section class="c-p-sec" >
		
		{$pages}

		</section>
	</div>
</section>
<p>&nbsp;</p>
</div>

{template "wap","footer"}

 </body>
</html>
