<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>日本邮政快递查询</title> 
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="/resource/wap/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/resource/wap/css/common.css" />
<link href="/resource/wap/css/lists.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/resource/wap/css/home-menu.css" />
<link href="/resource/wap/css/news3_.css" rel="stylesheet" type="text/css" />
<script src="/resource/wap/js/audio.min.js" type="text/javascript"></script>
   
    <script>
      audiojs.events.ready(function() {
        audiojs.createAll();
      });
    </script>

    <script>
window.onload = function ()
{
var oWin = document.getElementById("win");
var oLay = document.getElementById("overlay");	
var oBtn = document.getElementById("popmenu");
var oClose = document.getElementById("close");
oBtn.onclick = function ()
{
oLay.style.display = "block";
oWin.style.display = "block"	
};
oLay.onclick = function ()
{
oLay.style.display = "none";
oWin.style.display = "none"	
}
};
</script>
<style>

 .themeStyle{ background-color:#E83407 !important; }  

</style>
</head> 
<body id="news">
<div id="mcover" onclick="document.getElementById('mcover').style.display='';"><img src="/resource/wap/images/guide.png"></div>
<div id="ui-header">
<div class="fixed">
<a class="ui-title" id="popmenu">日本邮政快递查询</a>
<a class="ui-btn-left_pre" href="javascript:history.go(-1);"></a><a class="ui-btn-right_home" href="{WAP_SITEURL}"></a>
</div>
</div>
<div id="overlay"></div>
<div class="Listpage">
<div class="top46"></div>
<div class="page-bizinfo">

<div class="header" style="position: relative;">

</div>

<div class="text" id="content">
 <!-- begin -->



<div class="s-search-mod">
				                  	<h2 style="color:#667503; font-size:20px;width:85%; margin:0 auto; padding-bottom:10px;"><label for="desc">日本邮政快递查询</label></h2>
				                    <form action="index.php" name="mainForm" id="mainForm" method="get" style="width:85%; margin:0 auto;">
									<input type="hidden" name="m" value="wap"/>
									<input type="hidden" name="c" value="index"/>
									<input type="hidden" name="a" value="orderno"/>


				                    <div  style="marign:0 auto; padding-bottom:10px;">
				                    	<textarea id="ord" name="ord" style="ime-mode:disabled; width:100%; height:100px; padding:5px;" value="请输入日本邮政快递单号" onFocus="this.value=''" onKeyUp="this.value=this.value.replace(/[^0-9a-z]/gi,'')" >请输入日本邮政快递单号</textarea>
				                    </div>
				                     <button type="button" onclick="submitF();" class="submit_b" title="查询日本邮政快递" style="padding:5px 10px; margin:0 auto;">查询日本邮政快递</button>
				                    </form>                                
                                </div><!--E .s-search-mod-->
                               
                                <div class="s-search-table" style="display:none;">

									<?php
									$cdb = pc_base::load_model('enum_model');
									$handle_datas  = $cdb->select("groupid=52 ","*",1000,"listorder asc");	
									
									?>

                                  {loop $ord_array  $v}
								  <?php
								  $v=trim($v);
								  $datas = $wdb->select(" siteid='1' and waybillid='$v' ",'*',1000,'addtime ASC');
								  

								  $_rs = $_wdb->get_one(array('waybillid'=>$v));
								  ?>
                                	<div class="table-cont">
                                    	<div class="table-cont-hd">{$v}--走件流程</div>
                                        <table>
                                        	<thead>  
                                            	<tr>
                                            		<th width="20%">运单编号</th>
													<th width="29%">操作时间</th>
													<th width="20%">处理地点</th>
                                            		
                                            		<th width="48%">快件状态</th>
                                            	</tr>
                                              
                                            </thead>
                                            <tbody>
											{if $datas}

												{if $sinfo[wbinfocustom]==0}
                                            	{loop $datas  $row}
                                             	<tr>
                                            		<td >{$v}</td>
													<td >{date('Y-m-d H:i:s',$row[addtime])}</td>
													<td >{$row[placename]}</td>
                                            		
                                            		<td >{$row[remark]}</td>
                                            	</tr>
                                             	{/loop}
												{else}
												{loop $handle_datas  $hbill}
												{loop $datas  $row}
												{if $row[status]==$hbill[value]}
                                             	<tr>
                                            		<td >{$v}</td>
													<td >{date('Y-m-d H:i:s',$row[addtime])}</td>
													<td >{$hbill[title]}</td>
                                            		
                                            		<td >{$hbill[remark]}</td>
                                            	</tr>
												{/if}
                                             	{/loop}

												{/loop}
												{/if}

                                               {else}
											   <tr>
                                             	 <td colspan="4" style="line-height: 50px;">查询暂无订单数据！</td>
                                             	</tr>
											   {/if}			
                                            </tbody>
                                        </table>

										

                                    </div><!--E .table-cont-->
									
									{/loop}
                                    
                                </div><!--E .s-search-table-->


<!-- end -->

</div>


<div class="page-content" ></div>

</div>


</div>	
        

</div>

{template "wap","footer"}
<script>
//快运单号查询
function submitF(){
  var f=document.getElementById("mainForm");
  if( document.getElementById('ord').value=='国际物流单号查询'){
    alert("请输入快运单号！");
    return false;
  }
	if(document.getElementById('ord').value.length==13 || document.getElementById('ord').value.length==11){
  	window.open("https://trackings.post.japanpost.jp/services/srv/search/?requestNo1="+document.getElementById('ord').value+"&startingUrlPatten=&locale=ja&search.x=98&search.y=21");
  }else{

 window.open("https://trackings.post.japanpost.jp/services/srv/search/?requestNo1="+document.getElementById('ord').value+"&startingUrlPatten=&locale=ja&search.x=98&search.y=21");
   f.submit();
  }
  
 
}
 
</script>
</body>
</html>
