 {template 'member', 'header'}
 <script type="text/javascript">
<!--
	var charset = '{CHARSET}';
	var uploadurl = '{php echo pc_base::load_config('system','upload_url')}';
//-->
</script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script  type="text/javascript" src="{JS_PATH}dialog.js"></script>
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />


        <!--E 导航-->   
  
        <!--S 内容-->
        <article class="content">
        	<!--S 面包屑-->
            <div class="layout crumbs">
                <em>当前位置：</em>
                <a href="/index.php?m=member&siteid=1" title="我的快运">我的快运</a>
				
                <span>&gt;</span>
                <span class="curmbs-active">修改个人资料</span>
            </div>
            <!--E 面包屑-->
         	<!--S 内容-->
			{php $idcard_fb="";$idcard_fe="";}
			{loop $forminfos $k $v}
			{if $k=='idcard_fb'}
			{php $idcard_fb=str_replace('input-text','inp w308',$v['form']);}
			{/if}
			{if $k=='idcard_fe'}
			{php $idcard_fe=str_replace('input-text','inp w308',$v['form']);}
			{/if}
			{/loop}


        	<div class="layout pro-mod"> 
			{template 'member', 'top'}
            	<div class="layout grid-s12m0">
			       <div class="col-main">
			       	 <div class="main-wrap">
						<div class="pcont-mod">
                        	<div class="pcont-mod-hd">
                            	<h3>修改个人资料</h3>
                                <div class="plink-mod">
                                	<!--<a href="member" class="p-btn radius-five" title="返回">返&nbsp;回</a>-->
                                </div><!--E .plink-mod-->
                            </div><!--E .pcont-mod-hd-->
                            <div class="pcont-mod-bd pro-info">
                                <div class="balance-info">基本信息</div><!--E .balance-info-->
                                <span class="blank"></span>
                                 <form action="" method="post" id="mainForm"  name="mainForm">
								<input type="hidden" name="dosubmit" value="1" />
								<div class="pro-info-v01">
                                 
                                	<ul class="pform-list tip-pform-list">
                                    	<li style="display:none;">
                                        	<label style="line-height:40px;">头像:</label>
                            				<span><a title="{L('modify').L('avatar')}" href="index.php?m=member&c=index&a=account_manage_avatar&t=1"><img src="{$avatar[90]}" width="60" height="60" onerror="this.src='{$phpsso_api_url}/resource/images/member/nophoto.gif'"></a> </span>&nbsp;&nbsp;<font color=red size="3">[点击左边的头像进行修改]</font>
                                        </li>
									
                                    	
										 <li>
                                        	<label for="nickname">昵称<em class="color-red"></em>:</label>
                            				<input id="nickname" name="nickname"   value="{$memberinfo['nickname']}" maxlength="20" class="inp w208" type="text" tabindex="0">
				                                                                 
                                        </li>
                                        <li style="display:none;">
                                        	<label for="pingyingname">中文名拼音<em class="color-red"></em>:</label>
                            				<input id="pingyingname" name="info[pingyingname]"   value="{$memberinfo['pingyingname']}" maxlength="20" class="inp w208" type="text" tabindex="0">
				                                                                 
                                        </li>	
                                    	<li>
                                        	<label for="truename">真实姓名<em class="color-red">*</em>:</label>
                            				<input id="truename" name="info[truename]"   value="{$memberinfo['truename']}" maxlength="20" class="inp w208" type="text" tabindex="1">
				                                                                 
                                        </li>
										<li style="display:none;">
                                        	<label for="firstname">英文姓名<em class="color-red"></em>:</label> 
				                            <input id="firstname" name="info[firstname]" class="inp w128" type="text" tabindex="2" maxlength="30"  value="{$memberinfo['firstname']}" style="ime-mode:disabled;">
				                            <input id="lastname" name="info[lastname]" class="inp w128" type="text" tabindex="3" maxlength="30"    value="{$memberinfo['lastname']}"  style="ime-mode:disabled;">
				                      	    <span class="Validform_checktip"></span>   
                                        </li>
										<li>
                        					<label for="rpwd">性 别<em class="color-red"></em>:</label>
                        					<input type="radio" value="0" name="info[sex]" id="sex" {if $memberinfo['sex']==0}checked="checked"{/if}/><label class="label-other" style="height:40px;">保密</label><input type="radio" value="1" name="info[sex]" id="sex" {if $memberinfo['sex']==1}checked="checked"{/if}/><label class="label-other" style="height:40px;">男</label><input type="radio" value="2" name="info[sex]" id="sex" {if $memberinfo['sex']==2}checked="checked"{/if}/><label class="label-other" style="height:40px;">女</label>
                       					</li>
										<li>
										
                                        	<label for="country">国家/地区<em class="color-red">*</em>:</label>
                            				<input id="country" name="info[country]"   value="{$memberinfo['country']}" maxlength="20" class="inp w88" type="text" tabindex="2"> 
											
				                                                               
                                        </li>

										<li style="margin-left: 145px;">
										
                                        	
											<label for="province" style="width:auto;">省/州<em class="color-red">*</em>:</label>
                            				<input id="province" name="info[province]"   value="{$memberinfo['province']}" maxlength="20" class="inp w88" type="text" tabindex="3">
											
				                                                               
                                        </li>

										<li style="margin-left: 145px;">
										
                                        	
											<label for="city" style="width:auto;">城 市<em class="color-red">*</em>:</label>
                            				<input id="city" name="info[city]"   value="{$memberinfo['city']}" maxlength="20" class="inp w88" type="text" tabindex="4">
				                                                               
                                        </li>
										
										<li>
                                        	<label for="address">地 址<em class="color-red">*</em>:</label>
                            				<input id="address" name="info[address]"   value="{$memberinfo['address']}" maxlength="20" class="inp w308" type="text" tabindex="5">
				                                                               
                                        </li>
										<li>
                                        	<label for="postcode">邮 编<em class="color-red">*</em>:</label>
                            				<input id="postcode" name="info[postcode]"   value="{$memberinfo['postcode']}" maxlength="20" class="inp w208" type="text" tabindex="5">
				                                                               
                                        </li>
										<li>
                                        	<label for="mobile">手 机<em class="color-red">*</em>:</label>
                            				<input id="mobile" name="info[mobile]"   value="{$memberinfo['mobile']}" maxlength="20" class="inp w208" type="text" tabindex="7">
				                                                               
                                        </li>
										<li>
                                        	<label for="email">邮 箱<em class="color-red">*</em>:</label>
											<input id="email" name="info[email]"   value="{$memberinfo['email']}" maxlength="20" class="inp w208" type="text" tabindex="6">
                                        </li>
										
										<li style="display:none;">
                                        	<label for="placeid">所在区域<em class="color-red"></em>:</label>
                            				<select id="placeid" name="info[placeid]"   value="" maxlength="20" class=" inp inp-select"  tabindex="9">
											<option value="0">==请选择所在区域==</option>
											<?php 
												foreach($place as $rs){
											?>
											<option value="<?php echo $rs[linkageid];?>" {if $memberinfo['placeid']==$rs[linkageid]}selected{/if}><?php echo $rs[name];?></option>
											<?php
														
											}?>
											</select>
				                                                               
                                        </li>
										<li>
                                        	<label for="idcard">身份证号码<em class="color-red"></em>:</label>
                            				<input id="idcard" name="info[idcard]"   value="{$memberinfo['idcard']}" maxlength="20" class="inp w208" type="text" tabindex="10">
				                                                               
                                        </li>
										<li>
                                        	<label for="idcard_fb">正面<em class="color-red"></em>:</label>
                            				<!--<input id="idcard_fb" name="info[idcard_fb]"   value="" maxlength="20" class="inp w308" type="text" tabindex="11">-->
											{str_replace('statics/js/','resource/js/',$idcard_fb)}
				                                                               
                                        </li>
										<li>
                                        	<label for="idcard_fe">反面<em class="color-red"></em>:</label>
                            				<!--<input id="idcard_fe" name="info[idcard_fe]"   value="" maxlength="20" class="inp w308" type="text" tabindex="12">-->
											{str_replace('statics/js/','resource/js/',$idcard_fe)}

				                           
                                        </li>
                                    </ul>
                                </div><!--E .pro-info-v01-->
                                <div class="balance-info">联系信息</div><!--E .balance-info-->
                                <span class="blank"></span>
								<div class="pro-info-v02">
                                	<ul class="pform-list tip-pform-list">
                                    	
										
										<li>
                                        	<label for="telephone">固定电话<em class="color-red"></em>:</label>
                            				<input id="telephone" name="info[telephone]"   value="{$memberinfo['telephone']}" maxlength="20" class="inp w208" type="text" tabindex="6">
				                                                               
                                        </li>
										
										
										<li>
                                        	<label for="nowconnect">QQ<em class="color-red"></em>:</label>
                            				<input id="nowconnect" name="info[nowconnect]"   value="{$memberinfo['nowconnect']}" maxlength="20" class="inp w208" type="text" tabindex="8">
				                                                               
                                        </li>
                                    	<li style="display:none;">
                                        	<label for="msn">MSN<em class="color-red"></em>:</label>
                    						<input id="msn" name="info[msn]" class="inp w208"  value="{$memberinfo['msn']}" maxlength="20" style="ime-mode:disabled;"  type="text" tabindex="14">  
                                        </li>
                                    	
                                    	<li style="display:none;">
                                        	<label for="desc">备注<em class="color-red"></em>:</label>
                    						<textarea class="inp inp-tarea" id="remark" name="info[remark]" tabindex="16">{$memberinfo['remark']}</textarea>
                                        </li>
						                <li>
						                    <label for="">&nbsp;</label>
						                    <button type="submit" class="btn-login radius-three fl" tabindex="17" title="保存">保&nbsp;存</button>
						                    <!--<button type="button"  class="btn-login btn-cancel radius-three fl" tabindex="18" title="取消">取&nbsp;消</button>-->
						                </li>
                                    </ul>
                                 
                                </div><!--E .pro-info-v01-->

						

                                   </form>
                                <span class="blank22"></span>
								
                            </div><!--E .pcont-mod-bd-->
                        </div><!--E .pcont-mod-->
                     </div><!--E .main-wrap-->
			       </div><!--E .col-main-->
			     
				 {template 'member', 'left'}
                </div><!--E .grid-s12m0-->
            </div>
            <!--E 内容-->                 
        </article>
        <!--E 内容-->
        <!--S 底部-->
        <script type="text/javascript">
<!--
$(function(){
	
	$.formValidator.initConfig({autotip:true,formid:"mainForm",onerror:function(msg){}});
	if $("#truename")==""{
	$("#truename").formValidator({onshow:"真实姓名必填!",onfocus:"真实姓名必填!"}).inputValidator({min:2,max:20,onerror:"真实姓名必填!"});
	}
	
	if($("#email")==""){
	$("#email").formValidator({onshow:"请正确填写邮箱",onfocus:"请正确填写邮箱"}).inputValidator({min:1,onerror:"请正确填写邮箱"});
	}
	if($("#country")==""){
	$("#country").formValidator({onshow:"请正确填写国家",onfocus:"请正确填写国家"}).inputValidator({min:1,onerror:"请填写国家"});
	}
	if($("#province")==""){
	$("#province").formValidator({onshow:"请正确填写省/州",onfocus:"请正确填写省/州"}).inputValidator({min:1,onerror:"请填写省/州"});
	}
	if($("#city")==""){
	$("#city").formValidator({onshow:"请正确填写城市",onfocus:"请正确填写城市"}).inputValidator({min:1,onerror:"请填写城市"});
	}
	if($("#address")==""){
	$("#address").formValidator({onshow:"请正确填写地址",onfocus:"请正确填写地址"}).inputValidator({min:1,onerror:"请正确填写地址"});
	}
	if($("postcode")==""){
	$("postcode").formValidator({onshow:"邮编",onfocus:"邮编"}).inputValidator({min:1,onerror:"邮编"});
	}

	
	if($("#mobile")==""){
	$("#mobile").formValidator({onshow:"请输入11位手机号码",onfocus:"请输入11位手机号码"}).inputValidator({min:11,max:12,onerror:"请输入11位手机号码"});
	}
});
//-->
</script>
 
  {template 'member', 'footer'}