 {template 'member', 'header'}
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />

        <!--E 导航-->   
  
        <!--S 内容-->
        <div id="ht-main" class="clearfixed">	
        <article class="content">
        	<!--S 面包屑-->
            <div class="layout crumbs">
                <em>当前位置：</em>
                <a href="/index.php?m=member&siteid=1" title="我的账户">我的账户</a>
				
                <span>&gt;</span>
                <span class="curmbs-active">修改密码</span>
            </div>
            <!--E 面包屑-->
         	<!--S 内容-->
        	<div class="layout pro-mod">  
			{template 'member', 'top'}
            	<div class="layout grid-s12m0">
			       <div class="col-main">
			       	 <div class="main-wrap">
						<div class="pcont-mod">
                        	<div class="pcont-mod-hd">
                            	<h3>修改密码</h3>
                            </div><!--E .pcont-mod-hd-->
                            <div class="pcont-mod-bd">
			                <form action="" method="post" name="mainForm" id="mainForm">

			                	<ul class="pform-list">
			                    	<li>
			                        	<label for="pwd">当前密码</label>
			                            <input id="password" class="inp w248"  type="password" name="info[password]" tabindex="1">
			                        </li>
			                    	<li>
			                        	<label for="pwd1">新密码</label>
			                            <input id="newpassword" name="info[newpassword]"   class="inp w248" type="password" tabindex="2">                      
			                        </li>
			                    	<li>
			                        	<label for="pwd3">确认新密码</label>
			                            <input id="renewpassword" name="info[renewpassword]"   class="inp w248" type="password" tabindex="3">                                        
			                        </li>
			                        <li style="padding-left:208px;">
			                        	<label for="">&nbsp;</label>
			                            <button style="border:none;" type="submit" class="btn-login radius-three" tabindex="4" title="修改密码">修改密码</button>
			                        </li>
			                    </ul>
								<input type="hidden" name="dosubmit" value="1"/>
								<input name="info[email]" type="hidden" id="email" value="{$memberinfo['email']}" >
			                </form>                            
                            </div><!--E .pcont-mod-bd-->
                        </div><!--E .pcont-mod-->
                     </div><!--E .main-wrap-->
			       </div><!--E .col-main-->
			      
				  
				  
				  
				  {template 'member', 'left'}




                </div><!--E .grid-s12m0-->
            </div>
            <!--E 内容-->                 
        </article>
        <!--E 内容-->
        <!--S 底部-->
        <script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"mainForm",onerror:function(msg){}});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#newpassword").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#renewpassword").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('input').L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"{L('input').L('passwords_not_match')}"});	
})
//-->
</script>
 </div>
 </div>
 {template 'member', 'footer'}