{template "content","header"}   
 
        <!--S 内容-->
 		<article class="content">
        	<!--S 面包屑-->
            <div class="layout crumbs">
                <em>当前位置：</em><a href="{siteurl($siteid)}">首页</a><span> &gt; </span>
                {catpos($catid)} 公告详情
            </div>
            <!--E 面包屑-->                    	
        	<!--S 内容模块-->
        	<!--S 内容模块-->
        	<div class="content-mod">
            	<div class="layout sub-layout radius-five grid-s15m0">
			      <div class="col-main">
			       	 <div class="main-wrap" style="margin-left:0;">
					  	<div class="mod c-mod">
	                    	<div class="mod-bd">
                          		<div class="c-news-hd">
                                	<h3>公告详情</h3>
                                    <span>{$inputtime}</span>
                                </div><!--E .c-news-hd-->
                                <div class="c-news-bd">
								{$content}
                                </div><!--E .c-news-bd-->
	                        </div><!--E .mod-bd-->
	                    </div><!--E .mod-->
                     </div>
			      </div><!--E .col-main-->

			      
                </div><!--E .grid-s19m0-->           
            </div>
            <!--E 内容模块-->     
            <!--E 内容模块-->     
        </article>
        <!--E 内容-->
{template "content","footer"}